.container {
  display: flex;
  width  : 100%;
  background-color: #F6F8FA;
  
  table {
    margin          : 15px;
    padding          : 15px;
    background-color: #FFF;
    border-radius: 5px;
    height: fit-content;
    
  }
  
  .table1 {
    border-radius: 5px;
    width: 36%;
    .descr {
      background-color: #F6F8FA;
    }
    
    tr {
      text-align: left;
      width     : 100%;
      &.train{
        cursor: pointer;
      }

      td {
        display: inline-block;
        width  : 49%;
        border-bottom: 2px solid #F6F8FA;

      }
    }
  }

  .table2 {
    width: 56%;
  }
}